/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; /* Tipografía general */
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #1c2833;
    color: #f7f9f9;
    padding: 20px 0;
    text-align: center;
    border-bottom: 4px solid #117864;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: normal;
}

nav {
    background-color: #273746;
    padding: 15px;
    border-top: 2px solid #117864;
    border-bottom: 2px solid #117864;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: #f7f9f9;
    font-size: 1.2em;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #1f618d;
    border-radius: 4px;
}

main {
    flex: 1;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 40px auto;
}

.news-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.news-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px); /* Tres tarjetas por fila con espacio entre ellas */
    display: flex;
    flex-direction: column;
}

.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.news-content {
    padding: 15px;
}

.news-content h3 {
    font-size: 1.5em;
    color: #1c2833;
    margin-bottom: 10px;
}

.news-content p {
    font-size: 1em;
    color: #555;
    line-height: 1.6em;
}

/* Estilos para el índice de capítulos */
.chapter-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chapter-list li {
    margin-bottom: 10px;
}

.chapter-list a {
    color: #1c2833;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
}

.chapter-list a:hover {
    color: #117864;
    border-bottom: 1px solid #117864;
}

/* Estilos para las secciones de la constitución */
h2 {
    font-family: 'Roboto', sans-serif; /* Fuente para los títulos de sección */
    color: #1c2833;
    font-size: 2em;
    border-bottom: 2px solid #117864;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

p {
    font-family: 'Roboto Condensed', sans-serif; /* Tipografía específica para párrafos */
    font-size: 1.1em;
    line-height: 1.6em;
    color: #555;
}

.timestamp {
    font-size: 0.9em;
    color: #888;
    margin-top: 10px;
    display: block;
    font-style: italic;
}

/* Footer */
footer {
    background-color: #1c2833;
    color: #f7f9f9;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
    border-top: 3px solid #117864;
    position: relative;
    bottom: 0;
    width: 100%;
}
